<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <div class="card shadow p-4">
      <h3 class="text-center">Search Product</h3>

      <form #f="ngForm" (ngSubmit)="searchProducts()">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Enter product name"
          [(ngModel)]="searchText"
          name="searchText"
          required
          #ctrl="ngModel"
        />

        <div *ngIf="ctrl.touched && ctrl.invalid" class="text-danger">
          Product name required
        </div>

        <button class="btn btn-primary w-100" [disabled]="f.invalid">
          Search
        </button>
      </form>

      <ul class="list-group mt-3">
        <li *ngFor="let p of products" class="list-group-item">
          {{ p.pname }} - ₹{{ p.price }}
        </li>
      </ul>
    </div>
  </div>
</div>
